/* CSS RESET */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ============ GLOBAL ============ */
body {
    background-color: #fff;
    height: 100vh;
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
}

p {
    overflow: hidden;
}

h2,
h3 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    width: 100%;
    margin: 20px;
}

h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #072ac8;
    width: 200px;
    content: "";
    margin: 0 auto;
    margin-top: 10px;
}

.btn {
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    color: #072ac8;
    border: 1px solid #072ac8;
    transition: 1s;
}

.btn:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #072ac8;
}


/* ============ HEADER ============ */
header {
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}

header img {
    width: 30%;
}

nav {
    background-color: #daecff;
    height: 8vh;
}

.home-title {
    position: absolute;
    top: 40%;
    left: 20%;
    max-width: 79%;
}

.navbar-brand {
    width: 20%;
}


/* ============ RESERVATIONS ============ */
.reservation {
    margin: 20px;
}

.btn-reservation {
    text-align: center;
    width: 100%;
}

/* ============ VOYAGES ============ */
.best-travels {
    margin: 20px;
}

.pack-title {
    padding: 5px;
}

.pack-title h3 {
    text-align: center;
}

.pack-content span {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #daecff;
    font-weight: 700;
    padding: 2px;
}

.card-travel {
    border-radius: 10px;
    border: 1px solid #daecff;
    background-color: #daecff;
    box-shadow: 5px 5px 2.5px rgb(235, 235, 235);
    transition: transform .4s;
}

.card-travel:hover {
    transform: scale(1.1);
}

.pack-content {
    position: relative;
}

.image {
    height: 300px;
    border-radius: 0 0 10px 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.pack-content:hover .image {
    opacity: 0.3;
}

.pack-content:hover .middle {
    opacity: 1;
}

.text {
    font-size: 16px;
    padding: 16px 32px;
}

.text .btn:hover {
    border: none;
}


/* ============ AVIS CLIENTS ============ */
.clients {
    margin: 50px 0 50px 0;
}

.clients h5 {
    color: white;
}

.clients h5:after {
    background-color: #fff;
}

.client-profil {
    color: white;
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.checked {
    color: orange;
    margin-bottom: 25px;
    margin-top: 0;
}



/* ============ NEWSLETTER ============ */
.newsletter {
    margin: 20px;
}

.btn-newsletter {
    width: 100%;
}

.newsletter-info {
    font-style: italic;
}

/* ============ FOOTER ============ */
footer {
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
}

.copyright {
    text-align: center;
    padding: 20px 20px 0 0;
}

.copyright a {
    color: #fff;
}

.social i {
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    cursor: pointer;
}

.social a {
    color: #fff;
}

#fb:hover {
    color: #3b5999;
}

/* #insta:hover {
    color: #e4405f;
} */

#twitter:hover {
    color: #55acee;
}

#git:hover {
    color: #111010;
}